# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [25]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [76]:
wine = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data')

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [77]:
wine = wine.drop(wine.columns[[0,3,6,8,11,12,13]], axis = 1)

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [78]:
wine.columns = ['alcohol', 'malic_acid', 'alcalinty_of_ash', 'magnesium', 'flavanoids', 'proanthocyanins', 'hue']
wine

,alcohol,malic_acid,alcalinty_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,13.20,1.78,11.2,100,2.76,1.28,4.38
1,13.16,2.36,18.6,101,3.24,2.81,5.68
2,14.37,1.95,16.8,113,3.49,2.18,7.80
3,13.24,2.59,21.0,118,2.69,1.82,4.32
4,14.20,1.76,15.2,112,3.39,1.97,6.75
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,95,0.61,1.06,7.70
173,13.40,3.91,23.0,102,0.75,1.41,7.30
174,13.27,4.28,20.0,120,0.69,1.35,10.20
175,13.17,2.59,20.0,120,0.68,1.46,9.30
176,14.13,4.10,24.5,96,0.76,1.35,9.20

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [79]:
wine.loc[:2,'alcohol'] = None

In [80]:
wine

,alcohol,malic_acid,alcalinty_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,100,2.76,1.28,4.38
1,NaN,2.36,18.6,101,3.24,2.81,5.68
2,NaN,1.95,16.8,113,3.49,2.18,7.80
3,13.24,2.59,21.0,118,2.69,1.82,4.32
4,14.20,1.76,15.2,112,3.39,1.97,6.75
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,95,0.61,1.06,7.70
173,13.40,3.91,23.0,102,0.75,1.41,7.30
174,13.27,4.28,20.0,120,0.69,1.35,10.20
175,13.17,2.59,20.0,120,0.68,1.46,9.30
176,14.13,4.10,24.5,96,0.76,1.35,9.20

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [81]:
wine.loc[[3, 4],'magnesium'] = None

In [82]:
wine

,alcohol,malic_acid,alcalinty_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.78,11.2,100.0,2.76,1.28,4.38
1,NaN,2.36,18.6,101.0,3.24,2.81,5.68
2,NaN,1.95,16.8,113.0,3.49,2.18,7.80
3,13.24,2.59,21.0,NaN,2.69,1.82,4.32
4,14.20,1.76,15.2,NaN,3.39,1.97,6.75
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,95.0,0.61,1.06,7.70
173,13.40,3.91,23.0,102.0,0.75,1.41,7.30
174,13.27,4.28,20.0,120.0,0.69,1.35,10.20
175,13.17,2.59,20.0,120.0,0.68,1.46,9.30
176,14.13,4.10,24.5,96.0,0.76,1.35,9.20

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [83]:
wine.alcohol = wine.alcohol.fillna(10)
wine.magnesium = wine.magnesium.fillna(100)
wine

,alcohol,malic_acid,alcalinty_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,4.38
1,10.00,2.36,18.6,101.0,3.24,2.81,5.68
2,10.00,1.95,16.8,113.0,3.49,2.18,7.80
3,13.24,2.59,21.0,100.0,2.69,1.82,4.32
4,14.20,1.76,15.2,100.0,3.39,1.97,6.75
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,95.0,0.61,1.06,7.70
173,13.40,3.91,23.0,102.0,0.75,1.41,7.30
174,13.27,4.28,20.0,120.0,0.69,1.35,10.20
175,13.17,2.59,20.0,120.0,0.68,1.46,9.30
176,14.13,4.10,24.5,96.0,0.76,1.35,9.20

### Step 9. Count the number of missing values

In [86]:
wine.isna().sum()

alcohol             0
malic_acid          0
alcalinty_of_ash    0
magnesium           0
flavanoids          0
proanthocyanins     0
hue                 0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [87]:
rand = np.random.randint(0, 10, 10)

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [88]:
wine.loc[rand] = None

### Step 12.  How many missing values do we have?

In [89]:
wine

,alcohol,malic_acid,alcalinty_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.78,11.2,100.0,2.76,1.28,4.38
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13.24,2.59,21.0,100.0,2.69,1.82,4.32
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
172,13.71,5.65,20.5,95.0,0.61,1.06,7.70
173,13.40,3.91,23.0,102.0,0.75,1.41,7.30
174,13.27,4.28,20.0,120.0,0.69,1.35,10.20
175,13.17,2.59,20.0,120.0,0.68,1.46,9.30
176,14.13,4.10,24.5,96.0,0.76,1.35,9.20

### Step 13. Delete the rows that contain missing values

In [93]:
wine = wine.dropna()

### Step 14. Print only the non-null values in alcohol

In [95]:
wine.alcohol[wine.alcohol.notnull()]

0      10.00
3      13.24
7      14.83
10     14.12
11     13.75
       ...
172    13.71
173    13.40
174    13.27
175    13.17
176    14.13
Name: alcohol, Length: 170, dtype: float64

### Step 15.  Reset the index, so it starts with 0 again

In [97]:
wine.reset_index()

,index,alcohol,malic_acid,alcalinty_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,0,10.00,1.78,11.2,100.0,2.76,1.28,4.38
1,3,13.24,2.59,21.0,100.0,2.69,1.82,4.32
2,7,14.83,1.64,14.0,97.0,2.98,1.98,5.20
3,10,14.12,1.48,16.8,95.0,2.43,1.57,5.00
4,11,13.75,1.73,16.0,89.0,2.76,1.81,5.60
...,...,...,...,...,...,...,...,...
165,172,13.71,5.65,20.5,95.0,0.61,1.06,7.70
166,173,13.40,3.91,23.0,102.0,0.75,1.41,7.30
167,174,13.27,4.28,20.0,120.0,0.69,1.35,10.20
168,175,13.17,2.59,20.0,120.0,0.68,1.46,9.30
169,176,14.13,4.10,24.5,96.0,0.76,1.35,9.20

### BONUS: Create your own question and answer it.